<%= render "shared/navbar" %>
<ul class="recipeContaine">
  <h2 class="center">All Recipes</h1>
  <% @recipe.each do |recipe|%>
    <li class="rec-all">
      <%= link_to recipe do %>
          <ul class="recipe">
            <li class=""><span>name: </span><%= recipe.name %></li>
            <li class=""><span>description: </span><%= recipe.description %></li>
          </ul>
      <% end %>
      <% if can? :destroy, recipe %>
            <%= button_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </li>
  <% end %>
  <%= link_to 'Add a recipe', new_recipe_path, class: "new--rec" %>
</ul>
<%= render "shared/footer" %>
