<%= render "shared/navbar" %>
<div class="container">
<ul class="recipeContaine">
  <h2 class="center">All Recipes</h1>
  <% @recipe.each do |recipe|%>
    <%= link_to recipe do %>
      <ul class="">
        <li class="recipeName">name:<%= recipe.name %></li>
        <li class="recipePublic">description:<%= recipe.description %></li>
        </ul>
    <% end %>
    <% if can? :destroy, recipe %>
				<div class="block">
					<%= button_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-small is-danger is-light" %>
				</div>
			<% end %>
  <% end %>
  <%= link_to 'Add a recipe', new_recipe_path, class: "" %>

</ul>
</div>
  <%= render "shared/footer" %>
