<%= render "shared/navbar" %>
<div class="container">
<ul class="">
  <h1>Recipe details</h1>
  <%= link_to "Back to recipes", recipes_index_path(id: @recipe.user_id), class: "" %>
  <ul class="">
    <li class="recipeName">Recipename:<%= @recipe.name %></li>
    <li class="recipePrepTime">preparation_time:<%= @recipe.preparation_time %></li>
    <li class="recipePublic">description:<%= @recipe.description %></li>
    <li class="recipePublic">public?:<%= @recipe.public ? 'Yes' : 'No' %></li>
  </ul>
</ul>
</div>

  <%= render "shared/footer" %>
