<%= render 'shared/navbar' %>
<div class="container">
  <h3 class="mt-4"> Showing list of foods</h3>
<% if @foods.blank? %>
<p>There are not any foods currently in the system.</p>
<% else %>
<p>These are the current foods in our system</p>
<% end %>

  <div class="d-flex justify-content-end"> <button class="btn btn-sm btn-primary"><%= link_to 'Add food',{:action => 'new'},class: 'text-white text-decoration-none' %></button></div>
  <div class="mt-4">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Unit Price</th>
          <th>Actions</th>
        </tr>
      </thead>
        <tbody>
          <% @foods.each do |f| %>
            <tr>
                <td><%= f.name -%></td>
                <td><%= f.measurement_unit -%></td>
                <td>$<%= f.price -%></td>
                <td><%= link_to "Delete", {:action => 'delete', :id => f.id},
            :confirm => "Are you sure you want to delete this item?" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
</div>
<%= render 'shared/footer' %>
